$red  : hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);

$blue : hsl(248, 32%, 49%);

$dark_Blue   : hsl(249, 10%, 26%); 
$grayish_Blue: hsl(246, 25%, 77%);

// Font size: 16px
// font-family: 'Poppins', sans-serif; 400 500 600 700